$color-theme-1: #c8cd97;
$color-theme-2: #a2b98d;
$color-theme-3: #68ab82;
$color-theme-4: #718c7d;
$color-theme-5: #745f6e;
$color-theme-6: #fff;

$color-error: #91050c;
$color-correct: $color-theme-3;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;

$font-color-1: #fff;
$font-color-2: rgba(255, 255, 255, 0.8);

$font-normal: $font-size-normal "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
$font-special-1: "neo", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-special-2: "ZCOOL KuaiLe", "Helvetica Neue", Helvetica, Arial, sans-serif;
